/*General paper settings*/

/*.labelPage, .labelPage .barcode-info, #po-wrapper {
	border: 1px black solid;
}*/

.barcode-group {
	margin: 0 auto;
}

.labelPage, #po-wrapper {
	width: 210mm;
	/*height: 297mm;*/
}

.labelPage .barcode-row {
	width: 210mm;
}

.labelPage .barcode-row .barcode-info {
	float: left;
	text-align: center;
	padding-top: 5mm;
}


/*Centers the barcodes on the labels*/

.labelPage .barcode-info {
	float: left;
	text-align: center;
}

.labelPage .barcode-info:before {     
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 60%;
}

.labelPage .barcode-info div {
    display: inline-block;
    vertical-align: middle;          
}


/*Styling for 8 labels per page*/

.labels-per-page-8 .product-name {
	font-weight: bold;
	margin-bottom: 6px;
}

.labels-per-page-8 .product-name,
.labels-per-page-8 p {
	font-size: 20px;	
}

.labels-per-page-8 {
	padding-top: 12mm;
}

.labels-per-page-8 .barcode-row {
	height: 68.25mm;
	margin-left: 5mm;
	margin-right: 5mm;
}

.labels-per-page-8 .barcode-info {
	height: 68.25mm;
	width: 100mm;
}

.labels-per-page-24 .product-name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 6px;
}

.labels-per-page-24 .product-name,
.labels-per-page-24 p {
	font-size: 18px;
}

.labels-per-page-24 {
	padding-top: 5mm;
}

.labels-per-page-24 .barcode-info {
	width: 69.9mm;
	height: 36mm;
}

.labels-per-page-24 .barcode-info p {
	margin-top: -2mm;
}

.labels-per-page-24 .barcode-row {
	height: 36mm;
}

.labels-per-page-65 .product-name {
	margin-bottom: 3px;
	font-weight: bold;
}
.labels-per-page-65 .product-name,
.labels-per-page-65 p {
	font-size: 9px;
}

.labels-per-page-65 .barcode-info {
	width: 37.6mm;
	height: 21mm;
	margin-bottom: 6px;
}

.labels-per-page-65 .barcode-info p {
	margin-top: -1mm;
}

.labels-per-page-65 .barcode-row {
	margin-left: 5mm;
}


.labels-per-page-65 .barcode-row .barcode-info {
	margin-right: 3mm;
}

.labels-per-page-65 .barcode-row .barcode-info:last-child {
	margin-right: 5mm;
}

.labels-per-page-65 {
	padding-top: 11mm;
}


.print-preview {
	overflow-y: scroll;
	height: 400px;
	
}

.label-roll {
	width: 62mm;
	height: 29mm;
}

.label-roll .barcode-info {
	text-align: center;
}

.label-roll .barcode-info:before {     
    content: ' ';
    display: inline-block;
    vertical-align: middle; 
    height: 80%;
}

.label-roll .barcode-info div {
    display: inline-block;
    vertical-align: middle;          
}

.label-roll .barcode-row {
	width: 62mm;

}

.labelRoll > div > div > p {
	margin-bottom: 0;
	text-align: center;
}

.labelRoll > div > div > div {
	margin: 0 auto;
}

.labelRoll > div > div {
	padding-top: 2mm;
}

.labelRoll .product-name {
	font-weight: bold;
}

.labelRoll .product-name, .labelRoll p {
	font-size: 5mm;
}


.page-break {
	height: 0;
}

/* Style for PO preview */

#po-wrapper {
	padding: 10mm;
}

#po-header {
	/*margin-top: 15mm;*/
}

#po-header .h1 {
	font-size: 1.3em;
	text-decoration: underline;
}

#po-header .h4 {
	margin-top: 5mm;
	font-size: 1em;
}

#po-table {
	margin-top: 5mm;
	margin-bottom: 20mm;
}


header .container {
	text-align: center;
}

/*#barcode-gen, #po-gen {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}*/

#po-table table {
	font-size: 12px;
}

#po-table > table > tbody > tr > td {
	padding: 1rem 0 !important
}

@page 
{
    size:  auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

@media all {
	.page-break	{ 
		display: none; 
	}
}

@media print {

	*{
		padding: 0;
		margin: 0;
		overflow-y: visible;
		height: auto;
	}

	.page-break	{ 
		display: block; page-break-before: always; 
	}

	.labelRoll > div {
		page-break-after: always;
	}
}