@media screen {
	#count-print-sheet {
		width: 100%;
	    text-align: center;
	}

	#count-print-sheet span {
		font-size: 1.3em;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#count-print-sheet table {
		width: 60%;
		margin: 0 auto;
	}	

	#count-print-sheet th,
	#count-print-sheet td {
		padding-left: 10px;
	}

	#count-print-sheet td {
		height: 50px
	}

	#count-print-sheet thead tr {
		font-weight: bold;
		font-size: 1.3em;
		height: 70px;
		border-bottom: 2px black solid;
	}

	#count-print-sheet tbody {
		font-size: 1.1em;
	}

	#count-print-sheet thead tr th:nth-child(odd),
	#count-print-sheet tbody tr td:nth-child(odd) {
		border-right: 1px black solid;
	}

	#count-print-sheet tr:nth-child(even) {
		background-color: #fff;
	}
}

@media print {
	#content,#page {
		width: 100%; 
		margin: 0; 
		float: none;
	}

	#page { 
		overflow-y: visible;
	}
	 
	/** Setting margins */       
	@page { 
		margin: 1cm 
	}
	 
	/* Or: */
	@page :left {
		margin: 1cm;
	}
	 
	@page :right {
		margin: 1cm;
	}
	 
	/* The first page of a print can be manipulated as well */
	@page :first {
		margin: 1cm 2cm;
	}

	#count-print-sheet {
		width: 100%;
	    text-align: center;
	}

	#count-print-sheet span {
		font-size: 1.3em;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#count-print-sheet table {
		width: 80%;
		margin: 0 auto;
	}	

	#count-print-sheet td {
		height: 50px
	}

	#count-print-sheet thead tr {
		font-weight: bold;
		font-size: 1.3em;
		height: 70px;
		border-bottom: 2px black solid;
	}

	#count-print-sheet tbody {
		font-size: 1.1em;
	}

	#count-print-sheet tbody tr {
		border-bottom: 1px grey solid;
	}

	#count-print-sheet th,
	#count-print-sheet td {
		padding-left: 10px;
	}

	#count-print-sheet thead tr th:nth-child(odd),
	#count-print-sheet tbody tr td:nth-child(odd) {
		border-right: 1px black solid;
	}

	#count-print-sheet tr:nth-child(even) {
		background-color: #fff;
	}	
}