@media print {
	#content,#page {
		width: 100%; 
		margin: 0; 
		float: none;
	}

	#page { 
		overflow-y: visible;
	}
	 
	/** Setting margins */       
	@page { 
		margin: 1cm 
	}
	 
	/* Or: */
	@page :left {
		margin: 1cm;
	}
	 
	@page :right {
		margin: 1cm;
	}
	 
	/* The first page of a print can be manipulated as well */
	@page :first {
		margin: 1cm 2cm;
	}

	.do-not-print, header, footer {
		display: none;
	}

	#print-container {
		width: 200mm;
		margin: auto;
	}

	#print-container .item-col {
		float: left;
	}

	#print-header {
		text-align: center;
	}

	.item-rows:nth-child(even) {
		background-color: #fff;
	}

	.item-rows {
		text-align: center;
		font-size: 1.3em;
	}

	.item-col {

	}

	

	.item-rows .total-col {
		/*height: 20mm;*/
		border: 1px solid black;
	}

/*	#item-count-modal {
		display: block;
		height: 100%;
	}*/

/*	#item-count-modal tr:nth-child(13)	{ 
		display: block; 
		page-break-before: always; 
	}*/
}