input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

* {
	font-family: 'Lato', sans-serif;
}

.navbar{
	margin-bottom: 30px
}
input {
    max-width: 100%;
} 

.app-links {
	border: 1px solid #d3e0e9;
	margin-top: 10px;
	margin-bottom: 10px;
}

.app-links p, .app-links i {
	color: #000;
}

.app-links p {
	margin-bottom: 0;
	padding-bottom: 20px;
}

.app-links i {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.tab-content{
	padding: 20px 0;
}
.separator{
	border-right: solid 1px #ccc;
    margin: 0 20px;
}
.tab-block{
	padding: 10px 0;
}

.has-error {
    border: solid 1px red !important;
}


/*Loading Screen*/

#loading-overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none;  Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#loading-icon {
	font-size: 100px;
	margin-right: -50px;
	margin-bottom: -50px;
	position: fixed;
	bottom: 50%;
	right: 50%;
	z-index: 10;
	color: black;

	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}

/*End: Loading Screen*/

/*Stock Count Screen*/
#create .card, .cardCenter {
	height: 650px;
}

#search-results, #count-sheet-items, #measure-sheet-items {
	overflow-y: scroll;
}

.count-status i, .measure-status i {
	font-size: 30px;
}

#item-count-modal .modal-dialog, #item-measure-modal .modal-dialog {
	max-width: none;
}

#item-count-modal .count-qty input, #item-measure-modal input {
	width: 50px;
	height: 50px;
	font-size: 17px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

#item-count-modal .count-qty * {
	float: left;
	padding-left: 8px;
}

#item-count-modal .count-qty:first-child {
	margin-right: -8px;
}

#item-count-modal .count-qty i {
	font-size: 50px;
}

.count-tally {
	padding: 0.75rem;
    padding-right: 0;
    padding-left: 0;
    max-width: 100px;
}

#item-count-modal .linnworks-sku, #item-measure-modal .linnworks-sku {
	max-width: 400px;
}

#item-count-modal .counted-qty, #item-count-modal .count-qty {
	max-width: 150px;
}

.count-tally .total {
	margin-bottom: 0px;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
    text-align: right;
}

.count-tally hr {
	margin-top: 0px;
    margin-bottom: 0px;
    height: 1px;
}

.count-tally .item-tally {
	margin-bottom: 0;
	height: 19px;
	font-size: 14px;
	text-align: right;
	overflow-x: hidden;
	max-width: 500px;
	margin: 0;
	padding: 0;
}

.item-tally span {
	display: block;
    float: right;
    margin: 0;
    visibility: visible;
    text-align: right;
    width: 500px;
}
/*End: Stock Count Screen*/

/*Bin Rack Screen*/

#bin-rack-changes .modal-dialog {
	max-width: none;
	width: 80%;
}

#changes-title {
	padding: 15px;
}

#success-model {
	margin: 0 auto; 
}

#success-model .modal-header, #success-error-count, #success-img {
	text-align: center;
	margin: 0 auto;
}

#success-model img {
	width: 40%;
	border-radius: 50%;
}
/*End: Bin Rack Screen*/

/*Purchase Orders Screen*/
.item-group-list li {
	cursor: pointer;
}

.user-notes {
    max-height: 200px;
    overflow-y: scroll;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.po-container ul {
	list-style: none; 
	padding-right: 0 !important;
	-webkit-padding-start: 0 !important;
}

.note-container, .note-wrapper {
	padding: 2px 5px;
}

.note-container p, .note-wrapper p {
	margin-bottom: 0;
}

.note-container {
	background-color: white;
}

/*.user-notes .note-wrapper:nth-child(odd), .note-container:nth-child(odd) {
	background-color: #cfd0d1;
}

.user-notes .note-wrapper:nth-child(even), .note-container:nth-child(even) {
	background-color: #dddddd;
}*/

.add-new-note, .change-status, .check-items {
	color: #3097D1 !important;
	cursor: pointer; 
	cursor: hand;
}

.status-icon, .has-note {
	padding: 4px 8px !important;
	font-size: 25px;
}

.po-container .remove-margin {
	margin-bottom: 0;
}

.po-notes .remove-margin {
	margin-top: 0;
	margin-bottom: 16px;
}

#purchase-order-columns * {
	color: black;
}

/*End: Purchase Orders Screen*/

/*Cohen Stock Check*/
#cohen-low-stock-table_wrapper .row, #cohen-zero-stock-table_wrapper .row {
	width: 100%;
}
/*End: Cohen Stock Check*/


/*Barcode Generator*/
#search-results table {
	width: 900px;
	margin: 0 auto;
}

#search-results #select-col,
#search-results #qty-col {
	width: 110px;
}


/*End: Barcode Generator*/


/*Toggle Switches*/
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
/*End: Toggle Switches*/

/* Media Queries */
@media screen and (max-width: 800px) {
	/*Stock Count Screen*/
		#item-count-modal h5 {
			font-size: 1.5rem;
		}

		#item-count-modal td {
			font-size: 1.2rem;
		}

		#item-count-modal button {
			font-size: 1.2rem;
			width: 12px;
		}

		#print-container {
			width: 200mm;
		}

		.item-col {
			width: 50%;
		}

		.tally-col {
			width: 30%;
		}

		.total-col {
			width: 20%;
		}
	/*End: Stock Count Screen*/
}

@media only screen and (orientation: landscape) and (max-width: 1280px) {
	
}

/*@media print {
	body * {
		visibility: hidden;
	}
	#print-preview-barcodes, #print-preview-barcodes * {
		visibility: visible;
	}
	#print-preview-barcodes {
		position: absolute;
	    left: 0;
	    top: 0;
	}
}*/